theme = "mydark"

[editor]
auto-format = true
cursorline = true
color-modes = true
soft-wrap.enable = true
inline-diagnostics.cursor-line = "hint"
statusline.center = [
    "file-encoding",
    "file-type",
    "file-line-ending",
    "read-only-indicator",
    "spacer",
    "version-control",
    "file-modification-indicator",
    "position-percentage",
]
bufferline = "multiple"
#lsp.display-inlay-hints = true

[editor.auto-save]
focus-lost = true
after-delay.enable = true
after-delay.timeout = 3000

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

#[editor.statusline.mode]
#insert = "INSERT"
#normal = "NORMAL"
#select = "SELECT"

[keys.normal]
y = ["yank", "yank_main_selection_to_clipboard"]
p = "paste_clipboard_before"
# ergonomics
"ret" = ["insert_mode"] # enter insert mode with ret
"ins" = "insert_mode" # insert mode with ins
"del" = ["delete_selection", "insert_mode"] # deleted selection and go into edit mode
"backspace" = ["insert_mode"]
"*" = "@be\"/yn"

# vscode style
C-s = ":w" # save
"A-down" = ["extend_to_line_bounds", "delete_selection", "paste_after"] # alt down move selected text
"A-up" = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"] # alt up move selected text
"A-/" = "toggle_comments" # comment selected lines
"S-end" = ["normal_mode", "extend_to_line_end"]
"S-home" = ["normal_mode", "extend_to_line_start"]
"S-right" = ["normal_mode", "extend_char_right"]
"S-left" = ["normal_mode", "extend_char_left"]
"S-C-left" =  ["normal_mode", "extend_prev_word_start"]
"S-C-right" =  ["normal_mode", "extend_next_word_end"]
C-home = "@gg"
C-end = "@ge"
C-l = "@Xd"
C-right = "@w"
C-left = "@b"
"C-w" = ":buffer-close"
"F3" = "@n" # vscode style find next

# usability workarounds
"C-b" = "save_selection"  # bookmark
"f" = "@ /// fix\\s?:" # find all FIX comments
"t" = "@ /// todo\\s?:" # find all TODO comments
"C-t" = "@ /// [a-z]*\\s?:" # find all OTHER comments
"C-h"= ["signature_help"]
C-g = [":new", ":insert-output lazygit", ":buffer-close!", ":redraw"] # lazygit

[keys.insert]
# ergonomics
C-s = ["normal_mode", ":w"] # save and exit insert mode ready for commands

# vscode style
"C-right" = ["normal_mode", "move_next_word_start", "append_mode"]
"C-left" = ["normal_mode", "move_prev_word_start", "insert_mode"]
"A-/" = "toggle_comments"
"A-down" = ["normal_mode", "extend_to_line_bounds", "delete_selection", "paste_after", "append_mode"]
"A-up" = ["normal_mode", "extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before" , "append_mode"]
"S-end" = ["normal_mode", "extend_to_line_end"]
"S-home" = ["normal_mode", "extend_to_line_start"]
"S-right" = ["normal_mode", "extend_char_right"]
"S-left" = ["normal_mode", "extend_char_left"]
"S-C-left" =  ["normal_mode", "extend_prev_word_start"]
"S-C-right" =  ["normal_mode", "extend_next_word_end"]
"C-l" = ["normal_mode", "extend_to_line_bounds", "delete_selection", "insert_mode"]

# usability workarounds
"C-u" = ["normal_mode", "undo", "insert_mode"]
"C-c" = ["normal_mode", "extend_to_line_bounds", "yank", "yank_main_selection_to_clipboard", "insert_mode"]
"C-v" = ["normal_mode", "paste_after", "insert_mode"]
"C-h" = ["signature_help"]

# simulate esc for my bluetooth keyboard (` is on esc key)
"`" = { "`" = "normal_mode" }

[keys.normal.space]
q = ":q!"
"space" = "file_picker"
W = [":toggle soft-wrap.enable", ":redraw"]
g = [":new", ":insert-output lazygit", ":buffer-close!", ":redraw"] # lazygit
