#theme = "dark_high_contrast"
theme = "mydark"

[keys.normal]
"ret" = "insert_mode"
C-s = ":w"
"A-down" = ["extend_to_line_bounds", "delete_selection", "paste_after"]
"A-up" = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
"A-/" = "toggle_comments"
"ins" = "insert_mode"
C-home = "@gg"
C-end = "@ge"
"del" = "@d"
C-l = "@xd"

[keys.insert]
C-s = ":w"

[keys.normal.space]
q = ":q!"
