theme = "mydark"

[editor]
auto-format = true
cursorline = true
color-modes = true
#lsp.display-inlay-hints = true

[editor.auto-save]
focus-lost = true
after-delay.enable = true
after-delay.timeout = 3000

[editor.inline-diagnostics]
cursor-line = "hint"


[keys.normal]
#y = "yank_main_selection_to_clipboard" # does not work with * override
#p = "paste_clipboard_before"
"ret" = ["insert_mode"]
C-s = ":w"
"A-down" = ["extend_to_line_bounds", "delete_selection", "paste_after"]
"A-up" = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]
"A-/" = "toggle_comments"
"ins" = "insert_mode"
C-home = "@gg"
C-end = "@ge"
"del" = ["delete_selection", "insert_mode"]
C-l = "@xd"
C-right = "@w"
C-left = "@b"
"*" = "@be\"/yn"
"backspace" = ["insert_mode"]
"C-b" = "save_selection"  # bookmark
"S-end" = ["normal_mode", "extend_to_line_end"]
"S-home" = ["normal_mode", "extend_to_line_start"]
"S-right" = ["normal_mode", "extend_char_right"]
"S-left" = ["normal_mode", "extend_char_left"]
"S-C-left" =  ["normal_mode", "extend_prev_word_start"]
"S-C-right" =  ["normal_mode", "extend_next_word_end"]
"f" = "@ /// fix\\s?:"
"t" = "@ /// todo\\s?:"
"C-t" = "@ /// [a-z]*\\s?:"
"C-h"= ["signature_help"]

[keys.insert]
C-s = ":w"
"C-right" = ["normal_mode", "move_next_word_start", "append_mode"]
"C-left" = ["normal_mode", "move_prev_word_start", "insert_mode"]
"A-/" = "toggle_comments"
"A-down" = ["normal_mode", "extend_to_line_bounds", "delete_selection", "paste_after", "append_mode"]
"A-up" = ["normal_mode", "extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before" , "append_mode"]
"C-l" = ["normal_mode", "extend_to_line_bounds", "delete_selection", "insert_mode"]
"S-end" = ["normal_mode", "extend_to_line_end"]
"S-home" = ["normal_mode", "extend_to_line_start"]
"S-right" = ["normal_mode", "extend_char_right"]
"S-left" = ["normal_mode", "extend_char_left"]
"S-C-left" =  ["normal_mode", "extend_prev_word_start"]
"S-C-right" =  ["normal_mode", "extend_next_word_end"]
"C-u" = ["normal_mode", "undo", "insert_mode"]
"C-c" = ["normal_mode", "extend_to_line_bounds", "yank", "insert_mode"]
"C-v" = ["normal_mode", "paste_after", "insert_mode"]
"C-h" = ["signature_help"]
"capslock" = ["normal_mode"]

[keys.normal.space]
q = ":q!"
"space" = "file_picker"