[language-server.tailwindcss-ls]
command = "tailwindcss-language-server"
args = ["--stdio"]


[[language]]
name = "c-sharp"
auto-format = true
formatter = {command = "bash", args = ["-c", "uncrustify -c $HOME/.config/helix/csharp.cfg --assume cs"] }


[[language]]
name = "go"
auto-format = true
formatter = { command = "goimports" }

[[language]]
name = "html"
auto-format = true
file-types = ["html", "xml"]

[[language]]
name = "json"
language-servers = [
  { name = "vscode-json-language-server", except-features = ["format"] },
  "biome",
  "tailwindcss-ls"
]
formatter = { command = "biome", args = ["format", "--stdin-file-path=_.json"] }
auto-format = true

[[language]]
name = "javascript"
language-servers = [
  { name = "typescript-language-server", except-features = ["format"] },
  "biome",
  "tailwindcss-ls"
]
formatter = { command = "biome", args = ["format", "--stdin-file-path", "_.js"] }
auto-format = true

[[language]]
name = "typescript"
language-servers = [
  { name = "typescript-language-server", except-features = ["format"] },
  "biome",
  "tailwindcss-ls"
]
formatter = { command = "biome", args = ["format", "--stdin-file-path=_.ts"] }
auto-format = true

[[language]]
name = "css"
language-servers = ["vscode-css-language-server", "tailwindcss-ls"]
formatter = { command = "biome", args = ["format", "--stdin-file-path", "_.css"] }
auto-format = true


